# vim:ft=sshconfig
# .ssh/proxy.conf
# @author nate zhou
# @since 2025

# nc(openbsd-netcat)

Host github.com
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p

Host codeberg.org
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p

Host github.com-unixchad
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p

Host codeberg.org-unixchad
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
