# ignore everything
*

#exception
!.gitignore
!.stow-local-ignore
!LICENSE
!install.md
!README.md
package-list
!unixchad.asc
!misc/
!misc/*
!install-*.sh

!mus/
!mus/.mpdignore

!boot/
!boot/loader/
!boot/loader/loader.conf.example
!boot/loader/entries
!boot/loader/entries/arch.conf.example
!boot/loader/entries/arch-fallback.conf.example
!etc/
!etc/firejail/
!etc/firejail/firecfg.config
!etc/libvirt/
!etc/libvirt/network.conf
!etc/mkinitcpio.conf
!etc/pacman.conf
!etc/pacman.d/
!etc/pacman.d/hooks
!etc/pacman.d/hooks/*
!etc/systemd/
!etc/systemd/logind.conf
!etc/systemd/sleep.conf
!etc/tlp.conf
!etc/samba/
!etc/samba/smb.conf.example
!etc/skel/
!etc/skel/*
!etc/udev/
!etc/udev/rules.d/
!etc/udev/rules.d/*
!etc/vconsole.conf
!usr/
!usr/local/
!usr/local/share/
!usr/local/share/kbd/
!usr/local/share/kbd/keymaps/
!usr/local/share/kbd/keymaps/us-custom.map.gz

!.profile
!.bashrc
!.bash_aliases
!.bash_profile
!.config/bash/
!.config/bash/aliases.bash
!.config/bash/functions.bash
!.config/bash/completions
!.config/bash/completions/*

!.zprofile
!.zshrc
!.config/zsh/
!.config/zsh/aliases.zsh
!.config/zsh/functions.zsh
!.config/zsh/completions
!.config/zsh/completions/*

!.config/shell/
!.config/shell/aliases.sh
!.config/shell/functions.sh
!.config/shell/profile.sh
!.config/shell/teleport.conf
!.config/shell/teleport.sh

!.ssh/
!.ssh/config
!.ssh/unixchad.conf
!.ssh/proxy.conf.example
!.gnupg/
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
!.local/
!.local/bin
!.local/bin/*
!.local/bin/qutebrowser/*
!.local/bin/swayimg/*
!.local/share/
!.local/share/address
!.local/share/address/address.example
!.local/share/lockscreen
!.local/share/nvim
!.local/share/nvim/site
!.local/share/nvim/site/autoload
!.local/share/nvim/site/autoload/plug.vim
!.config/
!.config/bat/
!.config/bat/config
!.config/btop/
!.config/btop/btop.conf.example
!.config/calcurse/
!.config/calcurse/conf
!.config/calcurse/keys
!.config/calcurse/example.ical
!.config/Code - OSS/
!.config/Code - OSS/User
!.config/Code - OSS/User/keybindings.json
!.config/Code - OSS/User/settings.json.example
!.config/crontab.example
!.config/VSCodium/
!.config/VSCodium/User
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json.example
!.config/dircolors
!.config/dunst/
!.config/dunst/dunstrc
!.config/fcitx5/
!.config/fcitx5/config
!.config/fcitx5/conf
!.config/fcitx5/conf/classicui.conf
!.config/fcitx5/conf/keyboard.conf
!.config/fcitx5/conf/punctuation.conf
!.config/fcitx5/conf/wayland.conf
!.config/fcitx5/conf/pinyin.conf
!.config/fcitx5/conf/anthy.conf
!.config/fcitx5/conf/hangul.conf
!.config/fcitx5/conf/classicui.conf
!.config/firejail
!.config/firejail/*
!.config/foot/
!.config/foot/foot.ini
!.config/foot/bindings.ini
!.config/foot/colors.ini
!.config/foot/colors2.ini
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/fzf/
!.config/fzf/*
!.config/GIMP/
!.config/GIMP/*.*/
!.config/GIMP/*.*/shortcutsrc.example
!.config/git/
!.config/git/config
!.config/git/proxy.inc.example
!.config/git/user.inc.example
!.config/gtk-2.0/
!.config/gtk-2.0/gtkrc
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-3.0/gtk.css
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/gtk-4.0/gtk.css
!.config/kanshi/
!.config/kanshi/config
!.config/isyncrc.example
!.config/lesskey
!.config/lf/
!.config/lf/lfrc
!.config/lf/rifle.conf
!.config/lf/scope.sh
!.config/lf/commands.conf
!.config/lf/bindings.conf
!.config/lf/colors
!.config/lf/teleport.conf
!.config/lf/local.conf
!.config/lf/icons
!.config/lf/ruler
!.config/lf/lf-rearrange.sh
!.config/layout.xkb
!.config/libvirt/
!.config/libvirt/libvirt.conf
!.config/mpd/
!.config/mpd/mpd.conf
!.config/mpv/
!.config/mpv/input.conf
!.config/mpv/mpv.conf
!.config/mpv/osd.conf
!.config/mpv/scripts
!.config/mpv/scripts/mpv-cut
!.config/mpv/scripts/mpv-cut/main.lua
!.config/mpv/scripts/mpv-cut/utils
!.config/mutt/
!.config/mutt/muttrc
!.config/mutt/mailcap
!.config/mutt/account-unixchad.muttrc
!.config/mutt/account.md
!.config/mutt/colors.neomuttrc
!.config/mutt/bindings.muttrc
!.config/ncmpcpp/
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/newsboat/
!.config/newsboat/config
!.config/newsboat/bindings.conf
!.config/newsboat/colors.conf
!.config/newsboat/proxy.conf.example
!.config/newsboat/urls.example
!.config/nvim/
!.config/nvim/config/colors.lua
!.config/nvim/lua/
!.config/nvim/lua/config/
!.config/nvim/lua/config/colors.lua
!.config/nvim/lua/config/options.lua
!.config/nvim/lua/config/autocmd.lua
!.config/nvim/lua/config/bindings.lua
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/init.lua
!.config/nvim/lua/plugins/nvim-colorizer.lua
!.config/nvim/lua/plugins/nvim-treesitter.lua
!.config/nvim/lua/plugins/indent-blankline.lua
!.config/nvim/lua/plugins/render-markdown.lua
!.config/nvim/lua/plugins/vim-floaterm.lua
!.config/nvim/lua/plugins/lf.lua
!.config/nvim/init.lua
!.config/nvim/coc-settings.json
!.config/pipewire/
!.config/pipewire/pipewire.conf.d/
!.config/pipewire/pipewire.conf.d/99-input-denoising.conf
!.config/proxy/
!.config/proxy/git/
!.config/proxy/git/proxy.inc.example
!.config/proxy/newsboat/
!.config/proxy/newsboat/proxy.conf.example
!.config/proxy/qutebrowser/
!.config/proxy/qutebrowser/proxy.py.example
!.config/proxy/ssh/
!.config/proxy/ssh/proxy.conf.example
!.config/proxy/yt-dlp/
!.config/proxy/yt-dlp/proxy.conf.example
!.config/qt5ct/qt5ct.conf
!.config/qt6ct/
!.config/qt6ct/qt6ct.conf
!.config/qutebrowser/
!.config/qutebrowser/config.py
!.config/qutebrowser/proxy.py.example
!.config/qutebrowser/colors.py
!.config/qutebrowser/bindings.py
!.config/qutebrowser/search.py.example
!.config/qutebrowser/userscripts
!.config/qutebrowser/greasemonkey/
!.config/qutebrowser/greasemonkey/yt-ads.js
!.config/qutebrowser/styles
!.config/qutebrowser/styles/black.css
!.config/readline/
!.config/readline/inputrc
!.config/river/
!.config/river/autostart
!.config/river/bindings
!.config/river/init
!.config/river/modes
!.config/river/rules
!.config/river/rivertile
!.config/river/rivercarro
!.config/swayidle/
!.config/swayidle/config
!.config/swayimg/
!.config/swayimg/config
!.config/swayimg/viewer.ini
!.config/swayimg/slideshow.ini
!.config/swayimg/gallery.ini
!.config/swaylock/
!.config/swaylock/config
!.config/task/
!.config/task/taskrc
!.config/ttyper/
!.config/ttyper/config.toml
!.config/ttyper/language/
!.config/ttyper/language/symbol-list
!.config/ttyper/language/built-in
!.config/vim/
!.config/vim/vimrc
!.config/vim/autocmd.vim
!.config/vim/bindings.vim
!.config/wget/
!.config/wget/wgetrc
!.config/wob/
!.config/wob/wob.ini
!.config/yt-dlp/
!.config/yt-dlp/config
!.config/yt-dlp/video.conf
!.config/yt-dlp/proxy.conf.example
!.config/zathura/
!.config/zathura/zathurarc
!.config/zathura/bindings.rc
!.config/zathura/colors.rc
!.config/electron-flags.conf
