/* @author nate zhou
// @since 2023,2024
// codeberg.org/unixchad/dotfiles
// github.com/gnuunixchad/dotfiles
*/
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* fix the height for some cjk fonts for firefox sway/window */
    min-height: 28px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.80);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 1px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #bbccdd;
}

#workspaces button {
    padding: 0 2px;
    border-radius: 2px;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #6f3f89;
    box-shadow: inset 0 -3px #bbccdd;
}

/* inactive workspace visible on another monitor*/
#workspaces button.visible:not(.focused) {
    background-color: #005577;
    box-shadow: inset 0 -3px #bbccdd;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    color: black;
    background-color: #bbccdd;
    border-radius: 2px;
    padding: 0 6px;
    margin: 0 0px;
}

#custom-updates,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#updates,
#pulseaudio{
    padding: 0 4px;
    margin: 0 0px;
    border-radius: 4px;
    background-color: #005577;
    box-shadow: inset 0 2px #bbccdd;
    color: #eeeeee;
}

#privacy
{padding: 0 0px;
    margin: 0 2px;
    border-radius: 3px;
}

#tray,
#idle_inhibitor{
    padding: 0 2px;
    margin: 0 0px;
    box-shadow: inset 0 2px #bbccdd;
    border-radius: 2px;
}

#scratchpad{
    padding: 0 2px;
    margin: 0 0px;
    box-shadow: inset 0 -3px #bbccdd;
    border-radius: 2px;
}
#scratchpad.empty {
	background-color: transparent;
    box-shadow: inset 0 0px #bbccdd;
}

#window,
#workspaces {
    padding: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#idle_inhibitor {
    background-color: #005577;
    color: #ffffff;
}

#tray,
#idle_inhibitor.activated {
    box-shadow: inset 0 2px #bbccdd;
    background-color: #bbccdd;
    color: #333333
}

#privacy-item {
    padding: 0 2px;
    border-radius: 2px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #0f914e;
}

#privacy-item.audio-in {
    background-color: #9c1a3b;
    color: #eeeeee;
}

#privacy-item.audio-out {
    background-color: #e6da00;
    color: #191919;
}
