#!/usr/bin/sh
# @author nate zhou
# @since 2025
# river/rules

riverctl rule-add -app-id "*" ssd   # fix border for every window

riverctl rule-add -title "Floating_Term" float
riverctl rule-add -title "Floating_Term" dimensions 1200 800

riverctl rule-add -app-id "Floating_IMG" float
riverctl rule-add -app-id "Floating_IMG" dimensions 1200 800

riverctl rule-add -app-id "file-*" float # GIMP file import/export
riverctl rule-add -app-id "script-fu" float # GIMP gegl operations
riverctl rule-add -app-id "lighting" -title "Lighting Effects" float # GIMP

riverctl rule-add -app-id "kdenlive" float # kdenlive file chooser

riverctl rule-add -app-id "electron" -title "Open Folder" float #code-oss
